.ml-6{
    margin-left:3.5rem!important
}
.ml-7{
    margin-left: 4rem!important;
}
.ml-8{
    margin-left: 4.5rem!important;
}
.ml-9{
    margin-left: 5rem!important;
}
.ml-10{
    margin-left: 5.5rem!important;
}

    @media screen and (max-width: 992px)  {

            img.mylogo {

                display: block !important;
                margin-left: auto !important;
                margin-right: auto !important;
                width: 50% !important;
                height: 50% !important;
            }



    }

@media screen and (min-width: 993px)  {

    img.mylogo {

        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 75% !important;
        height: 75% !important;
    }


}


@media screen and (max-width: 768px)  {



    a.mybutton{
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 11px !important;
        font-size: 12px !important;

    }


}

@media (max-width: 845px) {
    #mycards {
        -ms-flex-flow: row wrap !important;
        flex-flow: row wrap !important;
        margin-right: -15px !important;
        margin-left: -15px !important;
    }

    #mycards  {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex: 1 0 0% !important;
        flex: 1 0 0% !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        margin-right: 15px !important;
        margin-bottom: 0 !important;
        margin-left: 15px !important;
    }
}